:root
{
    
}

header
{
    text-align: center;
    padding: 20px;
}

ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li
{
    font-size: 32px;
    margin-left: 10px;
    float: left;
}

body
{
    background-color: #4E6E81;
}

container
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

h1
{
    text-align: center;
    margin: 40px 0px -10px 0px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

img.items
{
    width: 100px;
    height: 100px;
    margin-left: 120px;
    margin-top: 20px;
}

div > button
{
    text-align: center;
    position: relative;
    border: 10px solid;
    margin: 30px 300px 50px;
    padding: 20px 70px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

button.moes
{
    background-color: #F1DBBF;
    border-color: #698269;
    color: #AA5656;
}

button.chik-fil-a
{
    border-color: #EB455F;
    background-color: #EDDBC0;
    color: #E0144C;
}

button.marketplace-deli
{
    border-color: #BAD7E9;
    background-color: #FCFFE7;
    color: #2B3467;
}

button.clean-plate
{
    border-color: #D09CFA;
    background-color: #FFF5E4;
    color: #865DFF;
}