/* :root
{
    
} */

header
{
    text-align: center;
    padding: 20px;
    margin-left: 50px;
}

img.pictures:hover
{
    border: 1px solid black;
}

ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    align-items: center;
}

li
{
    font-size: 20px;
    margin: 20px;
    float: left;
}

body
{
    background-color: #4E6E81;
}

.verticalContainer
{
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}

.horizontalContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content:space-evenly;
    
}

h1
{
    text-align: center;
    margin: 40px 0px -10px 0px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

fieldset.protein, fieldset.ingredients, fieldset.flavor
{
    width: fit-content;
    font-size: 18px;
    margin: 20px;
}

img.pictures
{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

div > button 
{
    text-align: center;
    position: relative;
    border: 10px solid;
    width: 400px;
    margin: 30px 500px 50px;
    padding: 20px 70px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#moes
{
    background-color: #F1DBBF;
    border-color: #698269;
    color: #AA5656;
}

#chik-fil-a
{
    border-color: #EB455F;
    background-color: #EDDBC0;
    color: #E0144C;
}

#marketplace-deli
{
    border-color: #BAD7E9;
    background-color: #FCFFE7;
    color: #2B3467;
}

#clean-plate
{
    border-color: #D09CFA;
    background-color: #FFF5E4;
    color: #865DFF;
}